.body{
	font-size:350%;
	font-family:lucida console,monospace;
	text-align:center;
	background:black;
	color:white;
	margin:0px;
}
.invbody{
	font-size:350%;
	font-family:lucida console,monospace;
	text-align:center;
	background:white;
	color:black;
	margin:0px;
}
#h1{
	background:#160f29;
	margin: 0px;
	font-weight: unset;
	font-size:10vmax;
}
#invh1{
	background:#e9f0d6;
	margin: 0px;
	font-weight: unset;
	font-size:10vmax;
}
img.center{
	display: block;
	text-align: center;
	margin: 0px auto;
}
img.round{
	border-radius: 9999px;
}
.icon{
	height: 10vmax;
	width: 10vmax;
}
.menu{
	background: #160f29;
 	position: fixed;
 	height: 10vmax; 
 	width: 100%;
  }
.invmenu{
	background: #e9f0d6;
 	position: fixed;
 	height: 10vmax; 
 	width: 100%;
  }