body{
	font-size:350%;
	font-family:lucida console,monospace;
	text-align:center;
	background:black;
	color:white;
	margin:0;
}
h1{
	background:#160f29;
}
img.center{
	display: block;
	text-align: center;
	margin: 0 auto;
}
img.round{
	border-radius: 9999px;
}
.icon{
	height: 10vmax;
	width: 10vmax;
}
.menu{
	background: #160f29;
 	position: fixed;
 	height: 10vmax; 
 	width: 100%;
  }
